.add-to-bookmarks {
    margin: 0;
    padding: 0;
    display: none;
    background: #1F1F1F;
    border: 1px #808080 solid;
}

.add-to-bookmarks li {
    list-style: none;
    line-height: 24px;
}

.add-to-bookmarks li a {
    display: block;
    padding-left: 20px;
}

.add-to-bookmarks li a:hover {
    background: #2F2F2F;
}

.add-to-bookmarks-link {
    background: url(http://store.akamai.steamstatic.com/public/images/v6/icon_bucket_new.png) center left 5px no-repeat;
    padding: 3px 3px 3px 25px;
    margin: 7px 0;
    display: block;
    border: 1px #808080 solid;
    line-height: 24px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.add-to-bookmarks-container {
    /* position: absolute;
    top: -28px;
    right: 15px; */
    display: inline-block;
    position: relative;
    min-width: 180px;
}

.add-to-bookmarks-container .arrow {
    float: right;
}

.sih-market-action {
    font-size: 12px;
    color: #7caf38;
    text-decoration: underline;
    margin-right: 8px;
}

.float_block {
    display: inline;
    font-size: 12px;
}

.float_block .floatbutton {
    color: #7caf38;
    font-size: 12px;
    text-decoration: underline;
}

.float_block .float_data {
    display: none;
    margin: 10px auto;
    text-align: left;
    padding-left: 8px;
    border-left: 2px solid #fff;
    color: #fff;
}

/*.sih-market-action:hover {
    color: #7caf38;
}*/

.sih-fraud {
    font-size: .8em;
    color: #c80c10;
}

.sih-images {
    position: absolute;
    top: 12px;
    right: 300px;
    z-index: 3;
}

.sih-images img {
    width: 48px;
    opacity: .4;
    margin-top: 8px;
    cursor: pointer;
    z-index: 3;
    -moz-transition: .1s;
    -o-transition: .1s;
    -webkit-transition: .1s;
    transition: .1s;
}

.sih-images img:hover {
    opacity: 1;
    width: 96px;
    margin: -16px -24px -24px -24px;
    z-index: 4;
    -moz-transition: .2s;
    -o-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;
}

.market_listing_row .market_listing_item_name_block {
    position: relative;
    z-index: 2;
}

.sih-inspect-magnifier {
    display: none;
    position: absolute;
    height: 62px;
    width: 62px;
    left: 6px;
    top: 6px;
    background: #FFF url(../assets/magnifier.png) center center no-repeat;
    opacity: .4;
}

.market_listing_row:hover .sih-inspect-magnifier {
    display: block;
}

/* --------------------------------------------------------------------------------------------------- */
.dropbtn {
    /* background-color: #4CAF50; */
    /* color: white; */
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    left: 466px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
