.trade_area {
    position: relative;
}

.right-panel {
    position: absolute;
    top: 10px;
    left: 100%;
    margin-left: 5px;
    width: 180px;
}

.sort {
    padding: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom, #454545, #292929);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.sort .num {
    width: 100%;
    margin-bottom: 5px;
}

.sort a {
    display: block;
    margin-bottom: 5px;
    background: linear-gradient(to bottom, #AACB74, #4A5F24);
    background-image: url(../assets/btbg.jpg);
    line-height: 29px;
    text-align: center;
    padding: 0 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.sort a.sponsor {
    background: none;
    padding: 0;
    margin: 0;
}

.sort legend {
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
    border: #333 1px solid;
    background: #454545;
    font-size: 1.2em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.rep {
    margin-bottom: 10px;
}

.right-panel .side-dropdown {
    width: 100%;
    font-size: 14px;
    line-height: 28px;
    height: 28px;
}

.verified-user {
    background: url(../assets/verified.png) no-repeat right center;
    float: right;
    display: block;
    line-height: 29px;
    height: 29px;
    width: 29px;
    overflow: hidden;
    text-indent: 30px;
}

.verified {
  float: right;
  display: block;
  border-radius: 2px;
  font-size: 20px;
  background-color: #CCC;
}

.verified.csgofast-user {
  color: #769604;
}

.verified.others-user {
  color: #1D1D1D;
}

.label {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #769604), color-stop(95%, #526615));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#769604', endColorstr='#526615', GradientType=0);
    background: -moz-linear-gradient(top, #769604 5%, #526615 95%);
    background: -webkit-linear-gradient(top, #769604 5%, #526615 95%);
    background: -o-linear-gradient(top, #769604 5%, #526615 95%);
    background: -ms-linear-gradient(top, #769604 5%, #526615 95%);
    background: linear-gradient(to bottom, #769604 5%, #526615 95%);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    font-size: 11px;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 3px;
    height: 13px;
    line-height: 12px;
    margin-top: 4px;
    display: block;
    float: right;
}
