.selectedSell {
    border: #FF0 dashed 1px !important;
}

.extent-button {
    background: #4cff00;
    border: #808080 solid;
    color: #ebebeb;
}

.queue-container {
    position: fixed;
    top: 20px;
    left: 50%;
    margin-left: -538px;
    bottom: 20px;
    width: 130px;
    z-index: 999;
    /*overflow-y: auto;*/
    /*direction: rtl;*/
}

.queue-container div {
    direction: ltr;
}

.queue-right-panel {
    position: fixed;
    top: 20px;
    right: 50%;
    margin-right: -554px;
    width: 140px;
}

.queue-item-count {
    height: 60px;
    line-height: 60px;
    color: #FF0;
    font-weight: bold;
    font-size: 50px;
    text-align: right;
    margin-bottom: 6px;
}

.queue-total-price {
    font-size: 20px;
    text-align: right;
}

.queue-total-price .with-fee {
    display: block;
    line-height: 30px;
}

.queue-total-price .without-fee {
    display: block;
    line-height: 30px;
}

.queue-right-panel fieldset {
    border: 1px solid green;
    border-radius: 4px;
    width: 100%;
    background: rgba(51, 51, 51, 0.7);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.queue-panel {
    margin-bottom: 10px;
}

.queue-remove-panel {
    font-size: 12px;
}

.queue-remove-panel input {
    width: 100%;
}

.queue-remove-panel a {
    width: 100%;
    display: block;
    background: linear-gradient(to bottom, #a4d007 5%, #6b8805 95%);
    border-radius: 2px;
    color: #fff !important;
    line-height: 20px;
    margin: 6px 0 0 0;
    padding: 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.queue-sort-panel {
    font-size: 12px;
}

.queue-sort-panel a {
    display: block;
    background: #292929;
    line-height: 26px;
    padding-left: 10px;
}

.queue-sort-panel a:hover {
    background: #4D4C4A;
}

.queue-item-container {
    width: 98px;
    height: 98px;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-left: 20px;
    background: #333;
    position: relative;
}

.queue-item {
    width: 96px;
    height: 96px;
    border: #FFF solid 1px;
}

.queue-item-remove {
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 2px;
    display: block;
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    border: #DDD 1px solid;
    background-color: rgba(128, 128, 128, 0.5);
    text-align: center;
}

.queue-item-container .price {
    position: absolute;
    padding: 2px 2px;
    width: 92px;
    bottom: 1px;
    left: 1px;
    font-size: .7em;
    background: rgba(130, 130, 130, 0.8);
    color: #FFF;
}

.queue-item-container .item-bagde {
    position: absolute;
    bottom: 18px;
    height: 16px;
    right: 3px;
}

.queue-item-container .item-bagde img {
    float: right;
    margin-right: 2px;
}

#Txt_adjust {
    width: 60px;
    text-align: right;
    padding-right: 3px;
    margin-left: 5px;
    background: #1a1a1a;
    border: rgb(112, 112, 112) 1px solid;
    color: #909090;
}

#market_buyset_dialog_accept, #market_buyset_dialog_reload {
    float: right;
    margin: 0.4em 0 0 1em;
    white-space: nowrap;
    overflow: hidden;
}

.market_listing_buy_button .item_market_action_button {
    margin-right: 0;
}

.buy-set {
    padding: 1px 15px;
    line-height: 20px;
    margin: 8px 0;
    display: inline-block;
    width: auto;
    text-align: center;
    border-radius: 2px;
    background: #7e7e7e;
    background: -moz-linear-gradient(top, #7e7e7e 5%, #484848 95%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #7e7e7e), color-stop(95%, #484848));
    background: -webkit-linear-gradient(top, #7e7e7e 5%, #484848 95%);
    background: -o-linear-gradient(top, #7e7e7e 5%, #484848 95%);
    background: -ms-linear-gradient(top, #7e7e7e 5%, #484848 95%);
    background: linear-gradient(to bottom, #7e7e7e 5%, #484848 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7e7e7e', endColorstr='#484848', GradientType=0);
}

.buy-set:hover {
    background: #c2c2c2;
    background: -moz-linear-gradient(top, #c2c2c2 5%, #565656 95%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #c2c2c2), color-stop(95%, #565656));
    background: -webkit-linear-gradient(top, #c2c2c2 5%, #565656 95%);
    background: -o-linear-gradient(top, #c2c2c2 5%, #565656 95%);
    background: -ms-linear-gradient(top, #c2c2c2 5%, #565656 95%);
    background: linear-gradient(to bottom, #c2c2c2 5%, #565656 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2c2c2', endColorstr='#565656', GradientType=0);
}

.dd_price {
    font-size: 20px;
    display: block;
    margin: 5px 0;
}

.equiped {
    width: 90px;
    text-align: center;
    line-height: 24px;
    border: #FF0 1px dotted;
    border-radius: 4px;
}

.item-equipped:after {
    content: url(../assets/equipped.png);
    position: absolute;
    right: -3px;
    bottom: -5px;
    z-index: 100;
    pointer-events: none;
}

.price-tag {
    position: absolute;
    bottom: 0;
    width: 95px;
    padding-left: 3px;
    background-color: rgba(0, 0, 0, 0.8);
}

.total {
    /*position: absolute;*/
    font-size: 2em;
    font-weight: bold;
    color: #FF0;
    background: rgba(0, 0, 0, 0.7);
    padding: 4px 10px;
    margin: 3px 0;
    clear: both;
}

.scrollbar-inner, .scrollbar-outer {
    height: 100%;
}

.itemHolder .item.similar-item {
    background: repeating-linear-gradient(45deg, transparent, transparent 10px, #373737 10px, #373737 20px), linear-gradient(to bottom, #454545, #292929);
}

input[type=text].num {
    text-align: right;
    padding-right: 3px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.items-count-panel {
}

.items-count-panel #divCats {
    padding: 15px 0 0 0;
}

.items-count-panel #divCats a {
    padding: 2px 5px;
    font-size: 1.5em;
    float: left;
    display: block;
}

.items-count-panel #divDetail {
    padding: 5px;
    line-height: 18px;
    clear: both;
}

.items-count-panel #divDetail span {
    padding-right: 10px;
}

.take-button, .take-gen-button {
    margin: 5px;
}

/*------------------------------------------------- Simple inventory ---------------------------------------------------------------------*/
.simple {
}

.simple #mainContents {
    position: relative;
}

.simple .games_list_tabs {
    position: absolute;
    left: -56px;
    border-radius: 3px 0 0 3px;
    border-color: #303030;
    border-right: none;
    padding: 10px 0;
}

.simple .games_list_tabs .games_list_tab {
    float: none;
    width: auto;
    box-shadow: none;
    position: relative;
    display: block;
    padding: 1px 12px;
    background: none;
    border: none;
    border-radius: 3px 0 0 3px;
}

.simple .games_list_tabs .games_list_tab.active {
    background: linear-gradient(to right, #3A3A3A, #1F1F1F);
}

.simple .games_list_tabs .games_list_tab_name,
.simple .games_list_tabs .games_list_tab_separator,
.simple .games_list_tabs .games_list_tab_row_separator {
    display: none;
}

.simple .games_list_tabs .games_list_tab .games_list_tab_icon {
    float: none;
    padding-right: 0;
}

.simple .games_list_tabs .games_list_tab.first_tab {
    border-top: none;
}

.simple .games_list_tabs .games_list_tab .games_list_tab_number {
    font-size: .8em;
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 2px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .7);
    line-height: normal;
    padding: 4px;
}

.simple .view_inventory_logo {
    padding-top: 3px;
    margin-bottom: 5px;
    position: absolute;
    top: -15px;
    width: auto;
    z-index: -1;
}

body.migrated_profile_page.simple .inventory_links {
    margin-bottom: 30px;
}

.simple .view_inventory_logo img {
}

.simple #tabcontent_inventory {
    padding-top: 10px;
}

/*.simple .view_inventory_page #inventories {
    width: 624px;
    height: 624px;
}

.simple .view_inventory_page .inventory_ctn,
.simple .view_inventory_page .inventory_ctn .inventory_page {
    width: 624px;
    height: 624px;
}

.simple .inventory_page_right {
    width: 250px;
}

.simple .view_inventory_page .inventory_page_left {
    width: 632px;
}

.simple #iteminfo0, .simple #iteminfo1{
    width:242px;
}*/
